svg {
    border: 1px solid #000;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

h1 {
    margin: 0;
}

#userButtons {
    position: absolute;
    top: 50%;
    right: 10px;
}

#hanoiTower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hanoiTower select,
#hanoiTower input,
#hanoiTower button {
    margin: 5px;
}

#loginPanel,
#registrationPanel {
    margin-left: 20px;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
}

#logoutButton,
#loginButton,
#registerButton,
#savePreferencesButton {
    display: none;
}

h2 {
    cursor: pointer;
    user-select: none;
    margin: 10px;
}

p,
ul,
li,
h3 {
    margin: 10px;
}

h2::after {
    content: ' ►';
}

.expanded {
    display: block;
}

.collapsed {
    display: none;
}

#animation {
    cursor: auto;
}

#animation::after {
    content: '';
}